<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 style="border: 2px solid red; background-color: yellow; color: red; align-content: center; display: flex; height: fit-content; width: fit-content; margin: auto; margin-top:10%; padding: 15px; border-radius: 0px 25px;">Page Not Found!</h1>

<%- include('includes/end.ejs') %>